<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Thursday, October 10</h3>
     <table class="table table-striped">
      <tr><td>9:00</td><td>Introduction</td></tr>
      <tr><td>9:15</td><td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Data organization in spreadsheets</a></td></tr>
      <tr><td>10:45</td><td>Coffee break</td></tr>
      <tr><td>11:00</td><td><a href="http://www.datacarpentry.org/OpenRefine-ecology-lesson/">Data Cleaning with OpenRefine</a></td></tr>
      <tr><td>12:00</td><td>Lunch break</td></tr>
      <tr><td>1:00</td><td><a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a></td></tr>
      <tr><td>2:30</td><td>Coffee break</td></tr>
      <tr><td>2:45</td><td><a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with data in R</a></td></tr>
      <tr><td>4:15</td><td>Wrap-Up</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Friday, October 11</h3>
    <table class="table table-striped">
      <tr><td>9:00</td><td>Go over practice problems</td></tr>
      <tr><td>9:15</td><td> <a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating data with R</a></td></tr>
      <tr><td>10:45</td><td>Coffee break</td></tr>
      <tr><td>11:00</td><td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data visualization with R</a></td></tr>
      <tr><td>12:00</td><td>Lunch break</td></tr>
      <tr><td>1:00</td><td><a href="">TBA</a></td></tr>
      <tr><td>2:30</td><td>Coffee break</td></tr>
      <tr><td>2:45</td><td><a href="">TBA</a></td></tr>
      <tr><td>4:15</td><td>Wrap-Up</td></tr>
    </table>
  </div>
</div>
